/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/* Custom Font Configuration */
.font-sans { font-family: 'Montserrat', sans-serif; }
.font-serif { font-family: 'Lora', serif; }

/* Smooth Scrolling */
html { scroll-behavior: smooth; }

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #E8E4DF; 
}
::-webkit-scrollbar-thumb {
  background: #1F5670; 
  border-radius: 4px;
}

